<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link href="styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <!-- Menu system -->
    <div class="menu">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/subscribe">Subscribe</a></li>
        <li><a href="/contacts">Contact</a></li>
        <li><a href="/products">Products</a></li>
      </ul>
    </div>
    <!-- Rest of HTML Content-->
    <h1>About</h1>
    <p>This is the About page. Add your content here.</p>
  </body>
</html>
