<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cameron's Server</title>
    <link href="/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="menu">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/subscribe">Subscribe</a></li>
        <li><a href="/contacts">Contact</a></li>
        <li><a href="/products">Products</a></li>
      </ul>
    </div>

    <h1 class="main-heading">Welcome to My Server</h1>
    <p>
      This is the home page. Hopefully, this displays. I've been working through
      this code for a few hours. It's fun though. :P I actually had to stop at
      the Home Page because I was getting errors. I find taking breaks and
      coming back an hour later works like a charm, LOl.
    </p>
  </body>
</html>
