<!DOCTYPE html>
<html>
  <head>
    <link href="/styles.css" rel="stylesheet" type="text/css" />
    <div class="menu">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/subscribe">Subscribe</a></li>
        <li><a href="/contacts">Contact</a></li>
        <li><a href="/products">Products</a></li>
      </ul>
    </div>
    <title>Our Products</title>
  </head>
  <body>
    <h1>Our Products</h1>
    <ul>
      <li>Product 1</li>
      <li>Product 2</li>
      <li>Product 3</li>
    </ul>
  </body>
</html>
