<!DOCTYPE html>
<html>
  <head>
    <link href="/styles.css" rel="stylesheet" type="text/css" />
    <div class="menu">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/subscribe">Subscribe</a></li>
        <li><a href="/contacts">Contact</a></li>
        <li><a href="/products">Products</a></li>
      </ul>
    </div>
    <title>Subscribe</title>
  </head>
  <body>
    <h1>Subscribe</h1>
    <p>Subscribe to our newsletter to receive updates and special offers.</p>
    <form>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" />
      <br />
      <input type="submit" value="Subscribe" />
    </form>
  </body>
</html>
